.heading {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: clamp(15px, 7.0092vw, 60px);
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
  @apply mt-4;
}

.bg_image {
  background-image: url("../../assets/logo_bg_mob.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

@media screen and (min-width: 1024px) {
  .heading {
    font-size: clamp(19px, 1.9790400000000001vw, 76px);
  }

  .bg_image {
    background-image: url("../../assets/logo_bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
