.heading {
  text-align: center;
  font-family: Raleway;
  font-size: clamp(15px, 7.0092vw, 60px);
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
  @apply text-custom-black;
  @apply mt-4;
}

.sub_heading {
  text-align: center;
  font-family: Raleway;
  font-size: clamp(11px, 5.140079999999999vw, 44px);
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
  @apply text-custom-black;
  @apply mt-4;
}

@media screen and (min-width: 1024px) {
  .heading {
    font-size: clamp(20px, 2.0832vw, 80px);
  }

  .sub_heading {
    font-size: clamp(15px, 1.5624vw, 60px);
    @apply mt-5;
  }
}
