.menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 1000;
  @apply bg-custom-white;
  &__nav {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__link {
      font-family: Inter;
      font-size: clamp(16px, 7.47648vw, 64px);
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      @apply text-custom-black;
    }
  }
}
